<h1 class='center'>Log In</h1>
<%= form_for :session, html: {class: "form-horizontal"}, url: login_path do |f| %>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='form-group'>
        <div class='col-sm-2 control-label'>
          <%= f.label :email %><br>
        </div>
        <div class='col-sm-8'>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-2 control-label'>
          <%= f.label :password %><br>
        </div>
        <div class='col-sm-8'>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autofocus: true, autocomplete: 'off'%>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-offset-2 col-sm-10'>
          <%= f.submit 'Log in', class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>